<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	</head>

<div class="modal fade"  id="confirmacaoExclusaoModal"  tabindex="-1"  data-keyboard="false"  data-backdrop="static">
	<div class="modal-dialog">
		<form th:attr="data-url-base='/titulos'"  method="POST" > 
		<input type="hidden"  name="_method"  value="DELETE">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">Você tem certeza?</h4>
		</div>
		
		<div class="modal-body">
			<span>Tem certeza que deseja apagar o título?</span>
		</div>
		
		<div class="modal-footer">
			<button type="button" class="btn btn-link"  data-dismiss="modal">Cancelar</button>
			<button type="submit" class="btn btn-primary">Excluir</button>
		</div>
	</div>
</form>

	</div>
</div>
	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/cobranca.js"></script>
</html>