<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
<head>
	<meta charset="UTF-8"/>
	<title>Cobrança</title>
	<link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" />
</head>
<body>
	<header layout:include="Cabecalho"></header>

	<section layout:fragment="conteudo">
		<p>Conteúdo principal</p>
	</section>
	
  	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/cobranca.js"></script>
</body>
</html>